<style type="text/css">
  #inner_container { width: 100%; height: 100%; position: absolute; top: 70px; left: 0;}
  #posts { }
  #posts ul {
    list-style-type: none;
    margin: 0;
  }
  #posts ul li {
    list-style-type: none;
    display: inline;
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #F9F9F9;
    margin: 10px 5px 10px 5px;
    border: 1px dotted #333;
  }
</style> 
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyATH7XLbF2tdxlGK5IvfOOiEcbn1D4AgoU">
</script> 

<div id="inner_container">
  <div id="map-canvas"></div>
  <br class="clr" />
  <div id="posts">
    <ul>
          <% @event.each do |event| %>
          <li><h3><%= event.item_title.split(' ').select {|w| w.capitalize! || w }.join(' ') %></h3>
            <p><%= event.item_description = event.item_description[0..150] %><br />
            
            <% if event.timedate_id > 0
              @time = ItemTimeDate.find(event.timedate_id) %> 
              <u><%= @time.start_time %></u><br /> 
            <% end %>
            <% if event.location_id > 0
              @local = Location.find(event.location_id) %>
              <em><%= @local.location_city %>, <%= @local.location_state %></em>
            <% end %>
          </p></li>
          <% end %> 
    </ul>
  </div>
</div>

<script type="text/javascript">
/*
$('#map-canvas').attr('style','top:'+ 
  $('.header-container').height()+'px; width:'+ 
  $(window).width() +'; height:'+$(window).height()+'px;') +
  ' position:absolute; left:0;';
  */

  function initialize() {

    var mapOptions = {
      zoom: 7,
      disableDefaultUI: true,      
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    //var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

	 if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      var pos = new google.maps.LatLng(position.coords.latitude,
	                                       position.coords.longitude);

        /*
	      var infowindow = new google.maps.InfoWindow({
	        map: map,
	        position: pos,
	        content: 'Location found using HTML5.'
	      });
        */

	      map.setCenter(pos);

      var markers = [];
      var iterator = 0;
      var neighborhoods = [

      	<% @locations.each do |location| %>
      	new google.maps.LatLng(<%= location.location_lat %>, <%= location.location_lng %>),
      	<% end %>    
      ];

      drop();
      function drop() {
        for (var i = 0; i < neighborhoods.length; i++) {
          setTimeout(function() {
            addMarker();
          }, i * 300);
        }
      }

      function addMarker() {
        markers.push(new google.maps.Marker({
          position: neighborhoods[iterator],
          map: map,
          draggable: false
          //animation: google.maps.Animation.BOUNCE
        }));
        iterator++;
      } 

	    }, function() {
	      handleNoGeolocation(true);
	    });
	  } else {		  	
	    // Browser doesn't support Geolocation
	    handleNoGeolocation(false);
	  }


  }

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}    
 
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

