<style type="text/css">
  #inner_container { width: 100%; height: 100%; position: absolute; top: 70px; left: 0;}
  #posts { }
  #posts ul {
    list-style-type: none;
    margin: 0;
  }
  #posts ul li {
    list-style-type: none;
    display: inline;
    float: left;
    width: 10%;
    padding: 10px;
    background-color: #F9F9F9;
    margin: 10px 5px 10px 5px;
    border: 1px dotted #333;
  }
</style> 

<div id="inner_container">
  <div id="map-canvas"></div>
  <br class="clr" />
  <div id="posts">
    <ul>
          <% @event.each do |event| %>
          <li><h3><%= event.item_title.split(' ').select {|w| w.capitalize! || w }.join(' ') %></h3>
            <p><%= event.item_description = event.item_description[0..150] %><br />
         
            <% if event.timedate_id > 0
              @time = ItemTimeDate.find(event.timedate_id) %> 
              <u><%= @time.start_time %></u><br /> 
            <% end %>
            <% if event.location_id > 0
              @local = Location.find(event.location_id) %>
              <em><%= @local.location_city %>, <%= @local.location_state %></em>
            <% end %>
          </p></li>
          <% end %> 
    </ul>
  </div>
</div>

