<article id="dashboard_maincontent">
<% if session[:user_id] %>
	<section>
		<h2>Hello <%= @usr.first_name %>!</h2>	
		<fieldset>
			<legend>Locations</legend>
			<div id="map-canvas"></div>
		</fieldset>	                		
	</section>
	<section>
		<fieldset>
			<legend>Currently</legend>
			<% if @contacts_count == 0 && @usr_events_count == 0 && @location_count == 0 %>
				<p>Create a new item for you calendar to get started!</p>
			<% else %>
			<ul class="item_count">
				<li><strong><%= @usr_events_count %></strong> - Events</li>
				<li><strong><%= @location_count %></strong> - Locations</li>				
				<li><strong><%= @contacts_count %></strong> - Contacts</li>				
			</ul>
			<% end %>
		</fieldset>	                		
	</section>
    <section>
		<fieldset>	
			<legend>Sample</legend>
			<ul>
				<li><a href="/items/all.json">Sample JSON API feed of items</li>
				<li><a href="/items/all.xml">Sample XML API feed of items</li>
			</ul>
		</fieldset>	                    	
	</section> 
	<% else %>
		<p>Who are you?</p>
<% end %>           	                	
</article>		

<div id="import_contacts_dialog" title="Get Contacts" class="dialog hideme">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div> 

<div id="import_events_dialog" title="Get Events" class="dialog hideme">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>       
         	
<%= javascript_include_tag "select2.min" %>
<script type="text/javascript">
$(function() {
	$('#import_contacts_dialog').dialog({
      autoOpen: false, height: 300, width: 350,
      modal: false});
	$('#import_events_dialog').dialog({
      autoOpen: false, height: 300, width: 350,
      modal: false});

	$("#import_contacts").click(function() {
		$(".ui-dialog:visible").find(".dialog").dialog("close");
		$('#import_contacts_dialog').dialog("open");
	});

	$("#import_events").click(function() {
		$(".ui-dialog:visible").find(".dialog").dialog("close");
		$('#import_events_dialog').dialog("open");
	});

	$("#user_locations_legend").select2();	
});

function initialize() {
	var mapOptions = {
	  zoom: 8,
	  disableDefaultUI: true,      
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

	 if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

	      	map.setCenter(pos);

			var markers = [];
			var iterator = 0;
			var neighborhoods = [

			];

			drop();
			function drop() {
				for (var i = 0; i < neighborhoods.length; i++) {
				  //setTimeout(function() {
				    addMarker();
				  //}, i * 300);
				}
			}

			function addMarker() {
				markers.push(new google.maps.Marker({
				  position: neighborhoods[iterator],
				  map: map,
				  draggable: false
				  //animation: google.maps.Animation.BOUNCE
				}));
				iterator++;
			} 

	    }, function() {
	      handleNoGeolocation(true);
	    });
	  } else {		  	
	    // Browser doesn't support Geolocation
	    handleNoGeolocation(false);
	  }
}

function handleNoGeolocation(errorFlag) {
	if (errorFlag) {
		var content = 'Error: The Geolocation service failed.';
	} else {
		var content = 'Error: Your browser doesn\'t support geolocation.';
	}

	var options = {
		map: map,
		position: new google.maps.LatLng(60, 105),
		content: content
	};

	var infowindow = new google.maps.InfoWindow(options);
	map.setCenter(options.position);
}    
 
google.maps.event.addDomListener(window, 'load', initialize);
</script>		