<article>
	<section class="contact list">
		<h2>Contacts</h2>
		<%= link_to("+ Add New Contact", {:action => 'new'}, :class => 'new main_btn custom_btn') %>
		<% if (@contact.length != 0) %>	
		<table id="myTable" class="tablesorter">
			<thead>
				<tr>
					<th></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>	
			<tbody>
				<% @contact.each do |contact| %>
				<tr>
					<td><%= contact.contact_title %></td>	 	 	 	 	 	 		
					<td><%= contact.contact_first_name %></td>	 	 	 	 	 	 		
					<td><%= contact.contact_last_name %></td>		 	 	 	 	 	 		
					<td><%= contact.contact_email %></td>
					<td class="action_links" width="100">
						<%= link_to("S", {:action => 'show', :id => contact.id}, :class => 'action show', :title => 'Show') %>
						<%= link_to("E", {:action => 'edit', :id => contact.id}, :class => 'action edit', :title => 'Edit') %>
						<%= link_to("D", {:action => 'delete', :id => contact.id}, :class => 'action delete', :title => 'Delete') %>
					</td>						
				</tr>
				<% end %>
			</tbody>	
			<tfoot>
				<tr>
					<td colspan="5">
						<div id="pager" class="pager">
							<form>
								<img src="/images/first.png" class="first"/>
								<img src="/images/prev.png" class="prev"/>
								<input type="text" class="pagedisplay"/>
								<img src="/images/next.png" class="next"/>
								<img src="/images/last.png" class="last"/>
								<select class="pagesize">
									<option selected="selected"  value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option  value="40">40</option>
								</select>
							</form>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<% else %>
			<br class="clr" />
			<p>You have no contacts yet. <strong><%= link_to("Click here", {:action => 'new'}) %></strong> to add a new contact.</p>
		<% end %>	
	</section>            	                	
</article>
<script type="text/javascript">
$(function() {
	$("table").tablesorter({widthFixed: true, widgets: ['zebra']}).tablesorterPager({container: $("#pager")});
	$("table thead th:eq(4)").data("sorter", false);
});
</script>                	