<article class="content_holder">
	<section>
		<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
	</section>

	<section>	
		<%= form_for(:contact, :url => {:action => 'create'}) do |f| %>				
		<span class="text-input">
			<%= f.text_field(:contact_title) %>
		</span>
		<br />
		<span class="text-input">
			<%= f.text_field(:contact_first_name) %>
		</span>
		<br />
		<span class="text-input">
			<%= f.text_field(:contact_last_name) %>
		</span>	
		<br />
		<span class="text-input">
			<%= f.email_field(:contact_email) %>
		</span>
		<br />
		<span class="text-input">
			<%= f.phone_field(:contact_phone) %>
		</span>
		<br />
		<span class="save_btn"><%= submit_tag("Save") %></span>	
		<% end %>	
	</section>
		
</article>
<script type="text/javascript">
$(function() {
	$('input').bind('keypress', function (event) {
	    var regex = new RegExp("^[a-zA-Z0-9 @ . _ - ]+$");
	    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
	    if (!regex.test(key)) {
	       event.preventDefault();
	       return false;
	    }
	});	
});
</script>				