			<section class="editor_article">

				<%= form_tag(:event, :url => {:action => 'create'} do |f| %>
					<p>
					<select id="event_type">
						<option></option>
						<% @event_types.each do |type| %>
							<option value="<%= type.id %>"><%= type.item_name %></option>
						<% end %>
					</select>
					</p>
					<span class="text-input">
					  	<%= f.text_field(:item_title) %>												
					</span>
					<br />
					<span class="text-input">
						<%= f.text_area(:item_description) %>
					</span>				
					<br />
					<span class="text-input">				
						<%= f.text_area(:item_special_note) %>												
					</span>					
					<p><%= submit_tag("Save") %></p>
				<% end %>
			</section>
			<br class ="clr" />