<article class="content_holder">
	<section>
		<%= link_to("&laquo; Back to List".html_safe, {:action => 'list'}, :class => 'main_btn custom_btn') %>
	</section>

	<section>					
		<%= form_for(@event, :url => {:action => 'update'}, :html => {:id => @event.id}) do |f| %>
			<p>
			<select id="item" name="item" style="width:40%;">
				<option></option>
			<% if @event_types %>
				<% @event_types.each do |type| %>
					<option value="<%= type.id %>"<% if @event.item_id == type.id %> selected="selected"<% end %>><%= type.item_name %></option>
				<% end %>
			<% end %>
			</select>
			&nbsp;
            <select id="event_status" style="width:20%;">
            	<option></option>
                <option value="active" <%= @event.item_viewable ? "Yes": "selected='selected'" %>>Active</option>
                <option value="inactive" <%= @event.item_viewable ? "No": "selected='selected'" %>>Inactive</option>
            </select>

			</p>   
        	<span class="text-input">
        		<%= f.text_field(:item_title, :class => "setWidth") %>
        	</span>
			<br />	
			<span class="text-input">
        		<%= f.text_area(:item_description, :description => 'Item Description',:size => '40x4', 
            	:id => 'event_description', :class => 'setWidth')%> 
			</span>
	        <br />
	        <p>
	        <% if !@event_location.blank? %>	
			<select id="event_location" style="width:100%;">
				<option></option>
				<% @event_location.each do |location| %>
					<option value="<%= location.id %>"<% if @event.location_id == location.id %> selected="selected"<% end %>><%= location.location_address_1 %></option>
				<% end %>
			</select>
			<% else %>
			<fieldset>
				<legend>Location</legend>
				<span class="text-input">
				<%= text_field_tag(:location_address_1, nil, :id => 'location_address_1', :placeholder => 'Address 1',  :class => 'form_put') %>
				</span>
				<br />
				<span class="text-input">
				<%= text_field_tag(:location_address_2, nil, :id => 'location_address_2', :placeholder => 'Address 2',  :class => 'form_put') %>
				</span>
				<br />
				<span class="text-input">
				<%= text_field_tag(:location_city, nil, :id => 'location_city', :placeholder => 'City',  :class => 'form_put') %>
				</span>
				<br />
				<span class="text-input">
				<%= text_field_tag(:location_state, nil, :id => 'location_state', :placeholder => 'State',  :class => 'form_put') %>
				</span>
				<br />
				<span class="text-input">
				<%= text_field_tag(:location_country, nil, :id => 'location_country', :placeholder => 'Country',  :class => 'form_put') %>
				</span>
				<br />
			</fieldset>	
			<% end %>
			</p>			
        	<br />
        	<% if !@contact.blank? %>
	        	<p>	
	            <select id="event_contacts" multiple="multiple" style="width:100%;">
	            	<% @contact.each do |cont| %>
	            	<option value="<%= cont.id %>"><%= cont.contact_first_name %> <%= cont.contact_last_name %></option>
	            	<% end %>
	            </select>
	        	</p>
	            <br />
            <% end %>
	        <span class="save_btn">
	        	<%= submit_tag("Update Event") %>
	        </span> 								

		<% end %>

	</section>

</article>	
<%= javascript_include_tag "select2.min" %>
<script type="text/javascript">
$(function() {
	$('#item').select2().select2({
	    placeholder: "Choose a calendar item.",
	    allowClear: true		
	});
	$('#event_type').select2();
	$('#event_status').select2();	
	$('#event_contacts').select2({
	    placeholder: "Choose a contact for this item.",
	    allowClear: true		
	});

	$('input').bind('keypress', function (event) {
	    var regex = new RegExp("^[a-zA-Z0-9 @ . _ - ]+$");
	    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
	    if (!regex.test(key)) {
	       event.preventDefault();
	       return false;
	    }
	});	
});
</script>