<% @page_title = "Events List" %>

<div class="event list">
	<h2>Items</h2>
	<%= link_to("Add New Event", {:action => 'new'}, :class => 'action new') %>	
	<table id="myTable" class="tablesorter">
		<thead>
			<tr>	
				<th>Title</th>
				<th>Visible</th>
				<th>Publish</th>
				<th>Status</th>
				<th class="{sorter: false}">Actions</th>
			</tr>
		</thead>	
		<tbody>
			<% @event.each do |event| %>
			<tr>	 	 	 	 	 	 		
				<td><%= event.item_title %></td>	 	 	 	 	 	 		
				<td><%= event.item_viewable ? "Yes": "No" %></td> 
				<td><%= event.item_publish_date %></td> 
				<td><%= event.item_status %></td> 	 	 	 	 	 		 
				<td>
					<%= link_to("Show", {:action => 'show', :id => event.id}, :class => 'action show') %>
					<%= link_to("Edit", {:action => 'edit', :id => event.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete', :id => event.id}, :class => 'action delete') %>
				</td>			
			</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<div id="pager" class="pager">
						<form>
							<img src="/images/first.png" class="first"/>
							<img src="/images/prev.png" class="prev"/>
							<input type="text" class="pagedisplay"/>
							<img src="/images/next.png" class="next"/>
							<img src="/images/last.png" class="last"/>
							<select class="pagesize">
								<option selected="selected"  value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option  value="40">40</option>
							</select>
						</form>
					</div>
				</td>
			</tr>
		</tfoot>	
	</table>
</div>

<script type="text/javascript">
$(function() {
    //$("#myTable").tablesorterPager({container: $("#pager")});
 	$("#myTable").tablesorter().tablesorterPager({container: $("#pager")});     
});
</script>

