<% @page_title = "Events List" %>

<article class="list_layout">
	<% if !@event.blank? %>
	<section class="event search">
		<%= form_tag("ajax_search", :remote => true, :id => "search_form") do %>
			<%= text_field_tag(:search, nil, :id => 'search', :class => "search_term", 
			:placeholder => 'Search Events', :maxlength => 125) %>	
			<br />
			<div class="date_holder">
				<%= text_field_tag(:start_date, nil, :id => 'start_date', :class => "search_term", :read_only => true, :placeholder => 'Start Date') %>&nbsp;	
				<%= text_field_tag(:end_date, nil, :id => 'end_date', :class => "search_term", :read_only => true, :placeholder => 'End Date') %>
			</div>	
			&nbsp;	
			<div id="search_btns" class="date_holder">
				<span id="search_btn" class="form_btn custom_btn">Search</span>
				&nbsp;	
				<span id="clear_btn" class="form_btn custom_btn">Clear</span>
			</div>
			<br class="clr" />						  
	</section>	
	<% end %> 

	<section id="article_header" class="event list"> 

		<%= link_to("+ Add an item", {:action => 'new'}, :class => 'new main_btn custom_btn') %>
	             		
		<h2>Calendar Items</h2>

		<table id="myTable" class="tablesorter">
			<thead>
				<tr>	
					<th>Title</th>
					<th>Visible</th>
					<th>Publish</th>
					<th>Status</th>
					<th class="no_pointer">Actions</th>
				</tr>
			</thead>	
			<tbody>
				<% @event.each do |event| %>
				<tr>	 	 	 	 	 	 		
					<td><%= event.item_title %></td>	 	 	 	 	 	 		
					<td style="vertical-align:middle; width:10%;"><div class='viewable <%= event.item_viewable ? "yay": "nay" %>'></div></td> 
					<td><%= event.item_publish_date %></td> 
					<td><%= event.item_status %></td> 	 	 	 	 	 		 
					<td class="action_links" width="100">
						<%= link_to("S", {:action => 'show', :id => event.id}, :class => 'action show', :title => 'Show') %>
						<%= link_to("E", {:action => 'edit', :id => event.id}, :class => 'action edit', :title => 'Edit') %>
						<%= link_to("D", {:action => 'delete', :id => event.id}, :class => 'action delete', :title => 'Delete') %>
					</td>			
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						&nbsp;
						<div id="pager" class="pager">
							<form>
								<img src="/images/first.png" class="first"/>
								<img src="/images/prev.png" class="prev"/>
								<input type="text" class="pagedisplay"/>
								<img src="/images/next.png" class="next"/>
								<img src="/images/last.png" class="last"/>
								<select class="pagesize">
									<option selected="selected"  value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option  value="40">40</option>
								</select>
							</form>
						</div>
					</td>
				</tr>
			</tfoot>	
		</table>
	</section> 
	<% else %>
	<section class="content_holder">
		<p>You don&rsquo;t have any items yet. <strong><%= link_to("Click here", {:action => 'new'}) %></strong> to add a new item.</p>
	</section> 
	<% end %>	
</article>
<br class="clr" />
<script type="text/javascript">
	$("table thead th:eq(4)").data("sorter", false);
	$("#search_btn").click(function() {
		doSearch();
	});

    $("#start_date").datepicker({
        onSelect: function(selected) {
          $("#end_date").datepicker("option","minDate", selected)
        }
    });

    $("#end_date").datepicker({ 
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)
        }
    });	  				

	function doSearch() {
		$.ajax({
			type: "POST",
			url: "/search/ajax_item_search",
			data: $(".search_term").serialize(),
			datatype: 'text',
			success: function(data) {
			  $("#myTable tbody").html(data);
			  var sorting;
			  $("table").trigger("update");
			  sorting = [[0, 0], [0, 0]];
			  $("table").trigger("sorton", [sorting]);
			}
		});
	}; 				
</script>
