<div class="form_frame">
  <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= form_tag(:action => 'attempt_signin') do %>
    <table>
      <tr>
        <td>
          <span class="text-input">
            <%= text_field_tag(:email, nil, :id => 'email_field', :placeholder => 'Email') %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <span class="text-input">
              <%= password_field_tag(:password, nil, :id => 'password_field', :placeholder => 'Password') %>
            </span>
        </td>
      </tr>
      <tr>
        <td>
          <!--<a href="signup">Sign Up!</a> or <br />-->
          <span class="signin-button">
            <%= submit_tag("Sign In") %>
          </span><br />
          <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>         
        </td>
      </tr>    
    </table>
  <% end %>  
</div>

<script type="text/javascript">
 FB.login(function(response) {
     if (response.authResponse) {
       console.log('Welcome!  Fetching your information.... ');
       FB.api('/me', function(response) {
         console.log('Good to see you, ' + response.name + '.');
       });
     } else {
       console.log('User cancelled login or did not fully authorize.');
     }
   }), {scope: 'email,user_likes'});
</script>