<div class="form_frame">
	<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
	<% end %>
	<%= form_tag(:controller => 'user',:action => 'attempt_signup') do %>
		<table>
			<thead>
				<tr>
					<th>Already on Cirrus Era? <%= link_to("Sign in", {:action => 'signin'}, :class => 'prompt link') %>!</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
			        	<span class="text-input small-input">
			        		<%= text_field_tag(:name, nil, :id => 'first_name_field', :placeholder => 'First name') %>
			        	</span>
						&nbsp
						<span class="text-input small-input">	
							<%= text_field_tag(:name, nil, :id => 'last_name_field', :placeholder => 'Last name') %>
						</span>	
					</td>
				</tr>
				<tr>
					<td>
						<span class="text-input">
							<%= text_field_tag(:email, nil, :id => 'email_field', :placeholder => 'Email') %>
						</span>
					</td>	
				</tr>	
				<tr>
					<td>
						<span class="text-input">		
							<%= password_field_tag(:password, nil, :id => 'password_field', :placeholder => 'Password') %>
						</span>
					</td>
				</tr>
				<tr>
					<td>By clicking Join you confirm that you accept our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a>.</td>
				</tr>							
			</tbody>
			<tfoot>
				<tr>
					<td>
						<div class="signin-button">
							<%= submit_tag("Join") %>
						</div>	
					</td>
				</tr>
			</tfoot>
		</table>
	<% end %>

</div>