<div class="form_frame">
  <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= form_tag(:action => 'attempt_signin') do %>
    <table>
      <tr>

      </tr>
        <td>
          <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>   
        </td>
      <tr>
        <td>
          <span class="text-input">
            <%= text_field_tag(:email, nil, :id => 'email_field', :placeholder => 'Email') %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <span class="text-input">
              <%= password_field_tag(:password, nil, :id => 'password_field', :placeholder => 'Password') %>
            </span>
        </td>
      </tr>
      <tr>
        <td>
          <!--<a href="signup">Sign Up!</a> or <br />-->
          <span class="signin-button">
            <%= submit_tag("Sign In") %>
          </span>      
        </td>
      </tr>    
    </table>
  <% end %>  
</div>