				<article class="content_holder delete">
					<section>
						<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
					</section>

					<section>
						<h2>Delete Location</h2>
						<%= form_for(:location, :url => {:action => 'destroy', :id => @location.id}) do |f| %>
							<p>Are you sure you want to permanently delete this item?</p>
							<p><%= @locations.location_address_1 %><br />
								<%= @locations.location_address_2 %><br />
								<%= @locations.location_city %>, <%= @locations.location_state %><br />
								<%= @locations.location_country %></p>
							<span class="save_btn custom_btn">
								<%= submit_tag("Delete item") %>
							</span>	
						<% end %>						
					</section>
				</article>	