
<style type="text/css">
#map-canvas {width: 100%; height: 300px;}
</style>

<article class="content_holder">
	<section>
		<%= link_to("<< Browse Locations", {:action => 'list'}, :class => 'action_link', :id => "location_form") %>	
	</section>

	<section class="location list">
	
	<%= form_for(:location, :url => {:action => 'create'}) do |f| %>
		
		<h2>Create Location</h2>
		
		<table summary="Location detail view" class="collect-table" width="100%">
			<tr>
				<th>Address 1:</th>
				<td><%= f.text_field(:location_address_1, :placeholder => 'Address 1') %></td>
			</tr>	
			<tr>
				<th>Address 2:</th>
				<td><%= f.text_field(:location_address_2, :placeholder => 'Address 2') %></td>
			</tr>
			<tr>
				<th>City:</th>
				<td><%= f.text_field(:location_city,:placeholder => 'City') %></td>
			</tr>			
			<tr>
				<th>State:</th>
				<td><%= f.text_field(:location_state, :placeholder => 'State') %></td>
			</tr>			
			<tr>
				<th>Zip:</th>
				<td><%= f.text_field(:location_zip, :placeholder => 'Zip') %></td>
			</tr>						
			<tr>
				<th>Country:</th>
				<td><%= f.text_field(:location_country, :placeholder => 'Country') %></td>
			</tr>			
			<tr>
				<th>Abbreviation:</th>
				<td><%= f.text_field(:location_abbr,:placeholder => 'Abbreviation') %></td>
			</tr>			
			<tr>
				<th>Latitude:</th>
				<td><%= f.text_field(:location_lat,:placeholder => 'Latitude') %></td>
			</tr>	
			<tr>
				<th>Longitude:</th>
				<td><%= f.text_field(:location_lng,:placeholder => 'Longitude') %></td>
			</tr>							
		</table>
		<br />
		<div class="save_btn"><%= submit_tag("Create Location") %></div>
		<br />

	<br class="clr" />
	<% end %>
	</section>
</article>