<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Cirrus Era | <%= @page_title || 'Admin Area' %></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
		<%= stylesheet_link_tag    "main","normalize","normalize.min","ui-lightness/jquery-ui-1.10.3.custom.css", :media => "all" %>
		<%= javascript_include_tag    "application" %>
		<!--<script src="//connect.facebook.net/en_US/all.js"></script>-->
        <%= csrf_meta_tags %>
    </head>
    <body class="welcome">
    <div id="fb-root"></div> 
        <script>
            /*
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '392071250858110', // App ID
                    channelUrl : 'http://cirrusera.com/account/channel', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
                });

                FB.Event.subscribe('auth.authResponseChange', function(response) { 
                    if (response.status === 'connected') {
                        getFBUser();
                    } else if (response.status === 'not_authorized') {
                        FB.login();
                    } else {
                        FB.login();
                    }
                });
            };

            (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));

            function getFBUser() {
                FB.login(function(response) {
                   if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    
                    FB.api('/me', function(response) {
                        if (response.verified == true) {
                            $.ajax({
                                type:'POST',
                                url:'/main/facebook',
                                data:response,
                                success: function (msg) { 
                                    if (msg['reply']) {
                                        window.location.replace("/admin");
                                    }
                                }, 
                                fail: function () {
                                    $( "#fail-modal" ).dialog({
                                        height: 140,
                                        modal: false
                                    });                               
                                }
                            });                    
                        }
                    });
                   } else {
                     console.log('User cancelled login or did not fully authorize.');
                   }
                }, {scope: 'email,user_likes,create_event'});                
            }  
            */              
        </script>        

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/"><img class="logo" src="/images/logo_white.png" alt="Cirrus Era"></a>
                <nav>
                    <ul>
                        <% if !session[:user_id] %>
                        <li><a href="/account/signin">Log In</a></li>
                        <li><a href="/account/signup">Sign Up</a></li>                        
                        <% else %>
                        <li><a href="/account/usr/<%= session[:user_id]%>"><%= session[:email] %></a></li>
                        <li><a href="/account/signout">Log out</a></li>
                        <% end %>          
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
				<%= yield %>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <ul id="lower_nav">
                <!--
                	<li><a href="/about">About</a></li>
                	<li><a href="/business">Businesses</a></li>
                	<li><a href="/developers">Developers</a></li>
                	<li><a href="/help">Help</a></li>
                	<li><a href="/privacy">Privacy Policy</a></li>
                -->
                	<li><a href="/terms">Terms of Use</a></li>
                </ul>            	
                <h3 id="copyright">Cirrus Era &copy; <%= Time.now.year %></h3>
                <br class="clr" />
            </footer>
        </div>
        <div id="fail-modal" title="Problem logging in" style="display:none;">
          <p>Your Facebook login did not work. Please try logging in with your Cirrus Era credentials.</p>
        </div>
        <script>
            /*
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
            */
        </script>
    </body>
</html>
